{
  "presets": [
    ["@babel/env",
      {
        "corejs": 3,
        "useBuiltIns": "usage"
      }],

    ["@babel/preset-react"]
  ],
  "plugins": [
    ["@babel/proposal-class-properties"],
    //possible to dont import React
    ["@babel/plugin-transform-react-jsx", {
      "runtime": "automatic"
    }]
  ]
}