.menu_svg {
  width: 20px;
  height: 20px;
  cursor: pointer;

  &:not(:last-child){
    margin-right: 26px;
  }
  &:hover {
    path {
      stroke: #f5895a;
      transition: .2s;
    }
  }
}

.arrow {
  margin-left: auto;
}